<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2 class ="mt-5">投稿詳細</h2>
        <p>【タイトル】
          <%= @post.title %>
        </p>  
        <p>
          <% if @post.image.attached? %>
            <%= image_tag(@post.image, size: "200x200") %>
          <% else %>
            <p> 画像なし </p>
          <% end %>
        </P>
        <p>【本文】</p>
        <P> <%= @post.body %> </p>
        
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post.id), class: 'btn btn-success' %>
          <%= link_to "削除", @post_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

